<div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: 'products/partials/product', collection: @products %> 
      </div>
  </div>

  <%= will_paginate @products %>
</div>
